
<!DOCTYPE html>

<html lang="it">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta name="description" content="{{ .Post.Headers.OpenGraph.Description }}" />
  <title>
     {{ .Post.Headers.Title }} | {{ .Config.Title }}
  </title>

  <link href="/media/site-screen.css" type="text/css" rel="stylesheet" media="screen" />
  <link href="/media/dracula.css" type="text/css" rel="stylesheet" media="screen" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.4/dist/leaflet.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.4/dist/leaflet.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.7.0/gpx.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/gpxparser@3.0.8/dist/GPXParser.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/exif-js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.markercluster@1.5.3/dist/MarkerCluster.min.css">
  <script src="https://cdn.jsdelivr.net/npm/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.min.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@lychee-org/leaflet.photo@1.0.0/Leaflet.Photo.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/@lychee-org/leaflet.photo@1.0.0/Leaflet.Photo.min.js"></script>

  <link rel="stylesheet" href="https://cdn.maptiler.com/maptiler-sdk-js/v1.2.0/maptiler-sdk.css" />
  <script src="https://cdn.maptiler.com/maptiler-sdk-js/v1.2.0/maptiler-sdk.umd.js"></script>
  <script src="https://cdn.maptiler.com/leaflet-maptilersdk/v2.0.0/leaflet-maptilersdk.js"></script>

  <!-- OpenGraph Meta Tags -->
  <meta property="og:type" content="website">
  <meta property="og:title" content=" {{ .Post.Headers.Title }} | {{ .Config.Title }}">
  {{- if .Post.Headers.OpenGraph.Description }}
  <meta property="og:description" content="{{ .Post.Headers.OpenGraph.Description }}">
  {{- end }}
  {{- if .Post.Headers.OpenGraph.Image }}
  <meta property="og:image" content="{{ .Post.Headers.OpenGraph.Image }}">
  {{- end }}
  <!-- End OpenGraph Meta Tags -->

  <script>
    function millisecondsToHoursMinutes(milliseconds) {
        var totalMinutes = Math.floor(milliseconds / (1000 * 60));
        var hours = Math.floor(totalMinutes / 60);
        var minutes = totalMinutes % 60;
        return hours + "h" + (minutes < 10 ? '0' : '') + minutes + "m";
    }

    function post_draw_map(gpx) {
        var map = L.map('map', { maxZoom: 18 });
        const mtLayer = L.maptilerLayer({
            apiKey: 'kZXFdn8DpN7swtn4ysU0',
            style: L.MaptilerStyle.OUTDOOR, // optional
        }).addTo(map);

        gpx_track = new L.GPX(gpx, {
            async: true,
            marker_options: {
                startIconUrl: 'https://mpetazzoni.github.io/leaflet-gpx/pin-icon-start.png',
                endIconUrl: 'https://mpetazzoni.github.io/leaflet-gpx/pin-icon-end.png',
                shadowUrl: 'https://mpetazzoni.github.io/leaflet-gpx/pin-shadow.png'
            }
        }).on('loaded', function (e) {
            map.fitBounds(e.target.getBounds());

            document.getElementById('gpx_start_time').textContent = gpx_track.get_start_time().toLocaleString();
            document.getElementById('gpx_end_time').textContent = gpx_track.get_end_time().toLocaleString();
            document.getElementById('gpx_distance').textContent = (gpx_track.get_distance() / 1000).toFixed(2) + ' km';
            document.getElementById('gpx_elevation_gain').textContent = gpx_track.get_elevation_gain().toFixed(0) + ' m';
            document.getElementById('gpx_elevation_loss').textContent = gpx_track.get_elevation_loss().toFixed(0) + ' m';
            document.getElementById('gpx_total_time').textContent = millisecondsToHoursMinutes(gpx_track.get_total_time());
        }).addTo(map);

        return map;
    }
  </script>
</head>

<body>

  <div class="head">
    <a href="/">{{ .Config.Title }}</a>
  </div>
  <div class="mainbody">

    <h1>{{ .Post.Headers.Title }}</h1>
    {{ if gt (len .Post.Headers.Gpx) 0 }}
      <div id="map" style="width: 100%; height: 50em"></div>
      <script>
        {{ range .Post.Headers.Gpx }}
          map = post_draw_map('/{{ . }}');
        {{ end }}
      </script>
      <p>
        Start Time: <span id="gpx_start_time"></span><br />
        End Time: <span id="gpx_end_time"></span><br />
        Distance: <span id="gpx_distance"></span><br />
        Elevation Gain: <span id="gpx_elevation_gain"></span><br />
        Elevation Loss: <span id="gpx_elevation_loss"></span><br />
        Toal Time: <span id="gpx_total_time"></span><br />
      </p>
    {{ end }}

    <div class="postcontent">
      {{ .Post.HTML }}
    </div>

    {{ if gt (len .Post.Headers.Gallery) 0 }}
    <h2>Gallery</h2>
    <div class="gallery">
      {{ range .Post.Headers.Gallery }}
      <a data-fslightbox href="/{{ .Image }}">
        <img 
          src="/{{ .Thumbnail }}"
          id="{{ .Thumbnail }}"
          alt="{{ .Description }}"
          style="width: 150px; height: 150px; object-fit: cover;"
        />
      </a>
      {{ end }}
    </div>
    <script>
    var photos = [];
    {{ range $i, $_ := .Post.Headers.Gallery }}
      photos.push({
        url: '/{{ .Image }}',
        thumbnail: '/{{ .Thumbnail }}',
        index: {{ $i }},
        lat: {{ .Position.Lat }},
        lon: {{ .Position.Lon }},
      });
    {{ end }}
    var photoLayer = L.photo.cluster({ spiderfyDistanceMultiplier: 1.2 }).on('click', function (evt) {
                    fsLightbox.open(evt.layer.photo.index);
                });;
    photoLayer.add(photos).addTo(map);
    </script>
    {{ end }}
    
    <div class="">
      Posted by {{ .Config.Author }} on {{ .Post.Date.Format "02/01/2006" }}
    </div>
    
  </div>

  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fslightbox/3.0.9/index.min.js"
    integrity="sha512-03Ucfdj4I8Afv+9P/c9zkF4sBBGlf68zzr/MV+ClrqVCBXWAsTEjIoGCMqxhUxv1DGivK7Bm1IQd8iC4v7X2bw=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
  </script>
  
</body>

</html>